<!DOCTYPE html>
<html>
<head>
  <title>Pairbnbclone</title>
<%# Linking Files%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<%# Facebook SDK for javascript %>

<%# Clearance: Dynamic Button for sign in/out, n probs message for login error%>
    <% if signed_in? %>
      Signed in as: <%= current_user.email %>
      <%= button_to 'Sign out', sign_out_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', sign_in_path %>
      <div class="facebook_button">
      <%= link_to "Sign In With Facebook", "/auth/facebook" %>
      </div>
    <% end %>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

</head>
<body>

<%= yield %>

</body>
</html>
