<!DOCTYPE html>
<html>
<head>
  <title>SeaCnC</title>
<!-- Icon for Head-->
  <link rel="icon" type="image/jpeg" href="sail_boat1600.png"/>
<%# Linking Files%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<%# Facebook SDK for javascript %>
<!-- Bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<%# Clearance: Dynamic Button for sign in/out, n probs message for login error%>
  <div id="navbar">
  <ul>
  <li>
  <%= link_to image_tag("sail_boat1600.png", id:"home_icon") + "SeaCnC", root_path %>
  </li>
    <% if signed_in? %>
      <li>
        Signed in as: <%= current_user.email %>
        <%= button_to 'Sign out', sign_out_path, method: :delete %>
      </li>
      <li><%= image_tag current_user.image.thumb.url, :id => "profile_icon" %></li>
      <li>
      <div class="navbar_button">
      <%= link_to "Edit User", edit_user_path(current_user) %>
      </div>
      </li>
      <li>
        <%= link_to "My Reservations", reservations_path %>
      </li>
    <% else %>
      <li>
        <div class="facebook_button">
        <%= link_to "Sign In With Facebook", "/auth/facebook" %>
        </div>
      </li>
      <li>
        <div class="navbar_button">
        <%= link_to 'Sign in', sign_in_path %>
        </div>
      </li>
    <% end %>
</ul>
</div>
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

</head>
<body>

<%= yield %>

</body>
</html>
